
.main-content-segundary{
    height: 52%;
}

.main-segundary-question {
    border: 1px solid grey;
    background-color: rgba(37, 37, 37,0.3);
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 75px;
    border-radius: 75px;
    font-family: 'Jacques Francois Shadow', serif;
    font-size: 40px;
    margin-bottom: 75px;
    box-shadow: 3px 11px 15px black;
    transition: 0.5s;
}
.conteiner-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img img{
    opacity: 0.5;
}

.main-img {
    clip-path: circle(57%);
    position: relative;
    right: 27%;
    margin-bottom: 50px;
}



.main-text {
    width: 50%;
    font-size: 35px;
    font-family: "Jacques Francois", serif;
    z-index: 1;
    position: absolute;
    left: 30%;
}

.bar1 {
    border: 1px solid black;
    width: 75%;
    margin: auto;
}

.main-segundary-question:hover {
    background-color: #202020;
    color: #ccc503;
    border: 1px solid #202020;
    transition: 0.5s;
}

.main-text b:hover  {
    color: #b3ad02;
    transition: 0.5s;
}